name: Build

on:

  pull_request:
    branches: [ dev, main, release/1.x ]
    paths-ignore:
    - 'doc/**'
    - '*.md'

jobs:

  build:
    runs-on: ubuntu-latest
    env:
        DOTNET_NOLOGO: true
        DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Generate build number
      run: |
        echo "nugetVersion=1.0.$GITHUB_RUN_NUMBER" >> $GITHUB_ENV

    - name: Pack
      shell: pwsh
      run: .\pack.ps1
