# publishes translation packages on cloudsmith.io

name: Publish Preview Packages 

on:
  push:
    branches: [ dev, main ]
    paths-ignore:
    - 'doc/**'
    - '*.md'

jobs:
  build:

    runs-on: ubuntu-latest
    env:
        DOTNET_NOLOGO: true
        DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Build version number
      run: |
        echo "nugetVersion=1.0.1-beta-$(( $GITHUB_RUN_NUMBER + 20000 ))" >> $GITHUB_ENV
        
    - name: Pack
      run: .\pack.ps1
      shell: pwsh

    - name: Push with dotnet
      run: dotnet nuget push **/*.nupkg -k ${{secrets.CLOUDSMITH_API_KEY}} -n true -s https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json --skip-duplicate
